<nav class="container-fluid mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-lg">
                <div class="card-body">
  
                    <h2 class="card-title text-center mb-4">Menu</h2>
                    <div class="menu-links d-flex justify-content-between">
                      
                        <a class="menu-link" routerLink="/authentication/login">Login</a>
                        <a class="menu-link" routerLink="/authentication/register">Register</a>
                        <a class="menu-link" routerLink="/recipe/all-recipe">All Recipes</a>
                        <a class="menu-link" routerLink="/recipe/add-recipe">Add Recipe</a>
                        <a class="menu-link" routerLink="/authentication/log-out">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </nav>
  