<div class="container">
    <div class="jumbotron text-center">
        <h1 class="display-2">Welcome to Recipe Realm!</h1>
        <p class="lead">Discover a world of delicious recipes created by food enthusiasts like you.</p>
        <hr class="my-4">
        <p>Join our community, share your favorite recipes, and connect with other food lovers!</p>
      </div>
      
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4">
          <img src="../../assets/images/mousse-cake-4864304_1280.jpg" class="card-img-top" alt="Recipe 1">
          <div class="card-body">
            <h5 class="card-title">Delicious Cakes</h5>
            <p class="card-text">Try our mouth-watering cake recipes that are sure to impress!</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4">
          <img src="../../assets/images/ai-generated-8609737_1280.jpg" class="card-img-top" alt="Recipe 2">
          <div class="card-body">
            <h5 class="card-title">Homemade Pizza</h5>
            <p class="card-text">Make your own pizza at home with our easy-to-follow recipes.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4">
          <img src="../../assets/images/smoothies-3809495_1280.jpg" class="card-img-top" alt="Recipe 3">
          <div class="card-body">
            <h5 class="card-title">Refreshing Smoothies</h5>
            <p class="card-text">Stay healthy with our delicious and nutritious smoothie recipes.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  