<form [formGroup]="filterForm" class="form-container mt-5">
    
    <div class="form-row">
     
      <div class="form-group col">
        <label for="nameFilter">Name Filter</label>
    
        <input type="text" id="nameFilter" formControlName="nameFilter" class="form-control">
        <ng-container *ngIf="filterForm.controls['nameFilter'].errors as nameFilterError">
          <p *ngIf="nameFilterError['required']" class="text-danger">Name Filter is required!</p>
        </ng-container>
      </div>
    
   
      <div class="form-group col">
        <label for="categoryFilter">Category Filter</label>
     
        <select id="categoryFilter" formControlName="categoryFilter" class="form-control">
          <option *ngFor="let category of categoryList" [value]="category.code">{{ category.name }}</option>
        </select>
      </div>
    
    
      <div class="form-group col">
        <label for="preparationTimeFilter">Preparation Time Filter</label>
      
        <input type="number" id="preparationTimeFilter" formControlName="preparationTimeFilter" class="form-control">
        <ng-container *ngIf="filterForm.controls['preparationTimeFilter'].errors as preparationTimeFilterError">
          <p *ngIf="preparationTimeFilterError['required']" class="text-danger">Preparation Time Filter is required!</p>
        </ng-container>
      </div>
    
  
    </div>
  </form>
  
  <div class="recipe-list">
    <app-small-recipe *ngFor="let recipe of filteredRecipeList" [recipe]="recipe"></app-small-recipe>
  </div>
  