<form [formGroup]="recipeForm" class="form-container">
    <h2>Edit Recipe</h2>
    <div class="form-group">
        <label for="recipeCode">Recipe Code</label>
        <input type="number" id="recipeCode" formControlName="recipeCode" class="form-control">
        <div *ngIf="recipeForm.controls['recipeCode'].errors && recipeForm.controls['recipeCode'].touched" class="error-message">
            <p *ngIf="recipeForm.controls['recipeCode'].errors['required']">Recipe Code is required!</p>
        </div>
    </div>
    <div class="form-group">
        <label for="recipeName">Recipe Name</label>
        <input type="text" id="recipeName" formControlName="recipeName" class="form-control">
        <div *ngIf="recipeForm.controls['recipeName'].errors && recipeForm.controls['recipeName'].touched" class="error-message">
            <p *ngIf="recipeForm.controls['recipeName'].errors['required']">Recipe Name is required!</p>
        </div>
    </div>
    <div class="form-group">
        <label for="category">Category</label>
        <select id="category" formControlName="categoryCode" class="form-control">
            <option *ngFor="let category of categoryList" [value]="category.code" [selected]="category.code === recipe.categoryCode">
                {{ category.name   }}
            </option>
        </select>
    </div>
    <div class="form-group">
        <label for="preparationTimeMinutes">Preparation Time (minutes)</label>
        <input type="number" id="preparationTimeMinutes" formControlName="preparationTimeMinutes" [value]="recipe.preparationTimeMinutes" class="form-control">
        <div *ngIf="recipeForm.controls['preparationTimeMinutes'].errors as preparationTimeMinutesError" class="error-message">
            <p *ngIf="preparationTimeMinutesError['required']">Preparation Time is required!</p>
        </div>
    </div>
    <div class="form-group">
        <label for="difficultyLevel">Difficulty Level</label>
        <input type="number" id="difficultyLevel" formControlName="difficultyLevel" [value]="recipe.difficultyLevel" class="form-control">
        <div *ngIf="recipeForm.controls['difficultyLevel'].errors as difficultyLevelError" class="error-message">
            <p *ngIf="difficultyLevelError['required']">Difficulty Level is required!</p>
        </div>
    </div>
    <div class="form-group">
        <label for="dateAdded">Date Added</label>
        <input type="date" id="dateAdded" formControlName="dateAdded" [value]="recipe.dateAdded" class="form-control">
        <div *ngIf="recipeForm.controls['dateAdded'].errors as dateAddedError" class="error-message">
            <p *ngIf="dateAddedError['required']">Date Added is required!</p>
        </div>
    </div>
    <div class="form-group">
        <label>Ingredients</label>
        <div formArrayName="ingredients">
            <div *ngFor="let ingredient of ingredientsArray.controls; let i = index">
                <input type="text" [formControlName]="i" (input)="addIngredient()" *ngIf="i === ingredientsArray.length - 1 || ingredient.value.trim() !== ''" class="form-control">
            </div>
        </div>
        <button type="button" (click)="removeEmptyIngredients()" class="btn btn-primary">Add Ingredient</button>
    </div>

    <div class="form-group">
        <label>Preparation Method</label>
        <div formArrayName="preparationMethod">
            <div *ngFor="let step of preparationMethodArray.controls; let i = index">
                <input type="text" [formControlName]="i" (input)="addPreparationStep()" *ngIf="i === preparationMethodArray.length - 1 || step.value.trim() !== ''" class="form-control">
            </div>
        </div>
        <button type="button" (click)="removeEmptyPreparationSteps()" class="btn btn-primary">Add Preparation Step</button>
    </div>

    <div class="form-group">
        <label for="userCode">User Code</label>
        <input type="number" id="userCode" formControlName="userCode" [value]="recipe.userCode" class="form-control">
        <div *ngIf="recipeForm.controls['userCode'].errors as userCodeError" class="error-message">
            <p *ngIf="userCodeError['required']">User Code is required!</p>
        </div>
    </div>
    <div class="form-group">
        <label for="imageRouting">Image Routing</label>
        <input type="text" id="imageRouting" formControlName="imageRouting" [value]="recipe.imageRouting" class="form-control">
        <div *ngIf="recipeForm.controls['imageRouting'].errors as imageRoutingError" class="error-message">
            <p *ngIf="imageRoutingError['required']">Image Routing is required!</p>
        </div>
    </div>

    <div class="button-container">
        <button type="button" (click)="saveRecipe()" [disabled]="recipeForm.invalid" class="btn btn-primary">SaveChanges</button>
        <button type="button" (click)="cancelEdit()" [disabled]="recipeForm.invalid" class="btn btn-secondary">Cancel</button>
    </div>
</form>